*{
    margin: 0;
    padding: 0;
}

*header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,o.7)),url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQM6TRZJri2JKCxTBzKW-A20O1EFzZuMNms5g&s");
    background-position: center;
    background-size: cover;
    position: relative;


}